<ion-view title="GET ejemplo" ng-controller="GETController">

  <ion-nav-buttons side="left">
    <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
  </ion-nav-buttons>
  
	<ion-content class="has-header" ng-init="init()">
    <input type="text" placeholder="Sala 518, piscina, laboratorio..." ng-model="model.code">
		<button class="button" ng-click="getData()">Obtener Datos</button>
		<br>
		Estado: {{estado}}
		<br>
		Latitud: {{latitud}}
		<br>
		Longitud: {{longitud}}
		<br>
		Piso: {{piso}}
		<br>
		Nombre: {{nombre}}
		<br>
		Tipo: {{tipo}}
    <!-- <button ng-click="setCode()">Login</button> -->
	</ion-content>
</ion-view>

