<ion-view title="Salas USACH" ng-controller="BuscarSalaCtrl">
	<ion-content>
        <form>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label"><b>Nombre de la sala a buscar:</b></span>
					<input type="text" placeholder="Sala 518, piscina, laboratorio..." ng-model="model.lugar">
				</label>
				<label class="item">
    				<b>Estado:</b></br>
    				{{estado}}
				</label>
				<label class="item">
					  <button class="button button-block button-positive" type="submit" ng-click="getData()">Buscar</button>
				</label>
				<label class="item">
          			<center><h6>Potenciado por Salas USACH</br>http://salasusach.herokuapp.com</h6></center>
        		</label>
			</div>
		</form>
	</ion-content>
</ion-view>