<ion-view title="Lugares de la USACH">
	<ion-content ng-controller="AccordionList">
		<ion-list>
	        <div ng-repeat="group in groups">
	          <ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
	              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
	            &nbsp;
	            {{group.name}}
	          </ion-item>
	          <ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)" ng-click="getData(item)">
	          	{{item}}
	          </ion-item>
	        </div>
		</ion-list>
	</ion-content>
</ion-view>