<ion-view title="Opciones de USACH Móvil" ng-controller="OpcionesCtrl">
	<ion-content>
		<form>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<div class="input-label">Página de Salas USACH</div>
					<input placeholder="https://salasusach.herokuapp.com/" type="text" ng-model="form.url">
				</label>
				<label class="item item-input item-select">
					<div class="input-label">Semestre Actual</div>
					<select ng-model="selectorSemestre.opcionEscogida" ng-options="opcion as opcion.semestre for opcion in listaSemestres track by opcion.semestre" ng-disabled="!selectorSemestre.estaPresente">
					</select>
				</label>
				<ion-toggle ng-repeat="item in listaOpciones" ng-model="item.checked" ng-checked="item.checked">
          			{{ item.text }}
        		</ion-toggle>
				<div class="button-bar">
					<button class="button button-royal" ng-click="setDefault()">Por defecto</a>
					<button class="button button-balanced" ng-click="getData()">Guardar</a>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>