<ion-view title="Opciones de USACH Móvil" ng-controller="OpcionesCtrl">
	<ion-content>
		<form>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<div class="input-label">Página de Salas USACH</div>
					<input placeholder="https://salasusach.herokuapp.com/" type="text" ng-model="model.url">
				</label>
				<label class="item item-input item-select" ng-model="model.semestre">
					<div class="input-label">Semestre Actual</div>
					<select>
						<option>2015-01</option>
						<option selected>2015-02</option>
						<option>2016-01</option>
						<option>2016-02</option>
						<option>2017-01</option>
						<option>2017-02</option>
					</select>
				</label>
				<ion-toggle ng-model="model.gps" toggle-class="toggle-calm">Geolocalización</ion-toggle>
				<div class="button-bar">
					<button class="button button-royal" ng-click="setDefault()">Por defecto</a>
					<button class="button button-balanced" ng-click="getData()">Guardar</a>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>